& {
    border: 2px solid #ddd;
    border-radius: 50%;
    overflow: hidden;
    display: block;

    position: relative;
    width: 100%;
    height: 100%;

    &.available {
        border-color: #47ce3c;
    }

    &.busy, &.do.not.disturb {
        border-color: #f30e5b;
    }

    &.away {
        border-color: #fbba33;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.initials {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    background-color: #81b9f4;
    display: flex;
    align-items: center;
    justify-content: center;
}
