<div class="image-container">
    <img src={{await person.skypePhotoUrl}}>
</div>

{{#if enablePresenceIndicator}}
    {{presence-indicator user=person}}
{{/if}}

{{#if showInitials}}
    <div class="initials">
        {{await initials}}
    </div>
{{/if}}
