@import "pod-styles";
@import "ember-basic-dropdown";

@import "global";

html, body {
    height: 100%;

    > div.ember-view {
        height: 100%;
    }

    .skype-for-business-app {
        height: 100%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    div {
        display: inline-block;
        box-sizing: border-box;
    }

    > div {
        display: block;
    }
}

.skype-for-business-app {
    display: flex;

    .roster-list {
        width: 250px;
        min-width: 0;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #D6E6EC;
    }

    .conversation-pane {
        flex: 1;
        min-width: 0;
    }
}

.ember-basic-dropdown-content {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
