.hide {
    display: none !important;
}

.spin {
    display: inline-block;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

button {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    outline: none;

    &:hover,
    &active,
    &:focus {
        outline: none;
    }

    &.btn-link {
        padding: 1px;
        border: none;
        background: transparent;

        &:hover {
            cursor: pointer;
        }
    }
}

a {
    color: @pc-blue;
}
