@import 'login';

.admin-consent {
    position: absolute;
    z-index: 1;
    bottom: 8px;

    width: 100%;
    text-align: center;

    a {
        font-size: 11px;
        text-decoration: none;

        &:hover,
        &:visited {
            text-decoration: none;
        }
    }
}
