@text-color: #111111;

@pc-grey: #aaaaaa;
@pc-blue-grey: rgb(90, 136, 157);
@pc-blue-dark: rgb(15, 70, 94);

// text colors
@text-grey: @pc-grey;
@text-blue-grey: @pc-blue-grey;
@text-blue-dark: @pc-blue-dark;

// background colors
@bg-blue-light: #f5fcff;
@bg-grey-light: #eeeeee;

