@import 'genesys-light-theme';

& {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    border-bottom: 1px solid @pc-mercury;
    position: relative;
    margin-bottom: -1px;

    .avatar {
        width: 30px;
    }

    .avatar > * {
        width: 30px;
        height: 30px;
    }

    &.unread::before {
        position: absolute;
        content: ' ';
        background-color: #e5848a;
        width: 5px;
        left: 0;
        top: 0;
        bottom: 0;
    }

    &.is-you::before {
        position: absolute;
        content: ' ';
        background-color: @pc-mercury;
        width: 5px;
        left: 0;
        top: 0;
        bottom: 0;
    }

    .body {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        flex: 1;
        min-height: 0;
        overflow: hidden;
        word-wrap: break-word;

        .user {
            color: rgb(86, 133, 153);
            font-size: 14px;
            padding-top: 5px;

            .timestamp {
                padding-left: 10px;
                font-size: 12px;
                color: rgb(101, 138, 154);
            }

            .light-theme & {
                color: @gux-gray2;

                .timestamp {
                    color: @gux-gray2;
                }
            }
        }

        .text {
            padding-top: 10px;
            color: rgb(86, 133, 153);

            .light-theme & {
                color: @gux-gray2;
            }
        }
    }
}
