<div class="avatar">
    {{profile-image person=message.sender}}
</div>
<div class="body">
    <div class="user">
        {{await message.sender.name}}
        <span class="timestamp">
            {{moment-calendar message.timestamp}}
        </span>
    </div>
    <div class="text">{{markdown message.text}}</div>
</div>
