& {
    .search {
        display: flex;
        flex-direction: column;

        .search-input {
            padding: 10px 15px;
            font-size: 14px;
        }

        .search-result {
            display: flex;
            flex-basis: 40px;
            align-items: center;
            border: 1px solid lightgrey;

            .avatar {
                flex: 0;
                flex-basis: 40px;

                img {
                    height: 30px;
                    padding: 2px;
                }
            }

            .name {
                flex: 1;
            }
        }
    }

    .groups {
        display: flex;
        flex-direction: column;
        padding: 10px 0 0 10px;
        color: #333;

        .group-entry {
            display: flex;
            flex-direction: column;
            border-left: 5px solid #e6eff6;
            margin-bottom: 30px;
        }

        .group-name {
            padding: 0 10px 10px 10px;
            font-size: 16px;
            font-weight: bold;
        }

        .group-member {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-right: 5px solid rgba(0, 0, 0, 0);
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            padding: 10px 0 10px 20px;

            &:hover {
                background-color: #e6eff6;
                border-right: 5px solid #6eafb6;
            }
        }

        .no-members {
            padding-left: 25px;
            font-style: italic;
        }
    }
}

.search-container {
    padding: 4px;
}

