{{#each presenceList as |presence|}}
    <div class="presence {{presence.key}}" {{action "setStatus" presence.key}}>
        <div class="selector {{if presence.active 'active'}}"></div>
        <div class="label">
            {{presence.label}}
        </div>
    </div>
{{/each}}
