{{#if auth.isLoggedIn}}
    <div class="skype-for-business-app">
        {{roster-list}}
        {{conversation-pane}}
    </div>
{{else}}
    <div class="login">
        <button {{action "startAuth"}}>Login</button>
    </div>
{{/if}}
