{{#if auth.accessToken}}
    <div class="skype-for-business-app">
        {{roster-list}}

        {{#if skype.activeConversation}}
            {{conversation-pane conversation=skype.activeConversation}}
        {{/if}}
    </div>
{{else}}
    <button {{action "startAuth"}}>Login</button>
{{/if}}
