{{#if loading}}
    <h2>Loading!</h2>
{{else}}
    <div class="skype-for-business-app">
        {{roster-list}}

        {{#if skype.activeConversation}}
            {{conversation-pane conversation=skype.activeConversation}}
        {{/if}}
    </div>
{{/if}}
